@media only screen and (max-width: 600px) {
    #main-main section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    
    #main-main section .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

  
    
    #graph1{
        width: 20%;
    }
    
     #graph2 {
        width: 20%;
    }
    
     #graph3 {
        width: 10%;
    }
    
     #graph4 {
        width: 10%;
    }
    
     #graph5 {
        width: 10%;
    }
    
     #graph6 {
        width: 10%;
    }
    
}